
*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
    display: block;
}
img{
    display: block;
}

#wrap{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: 50% 50%; 
    background-repeat:no-repeat;
}

.sec1{
    flex: 0 1 23%;
    order:1;
    border:2px whitesmoke solid;
    border-right: transparent;
    
    background-color: transparent;
    position: relative;

}

.sec1_player{
    width: 100%;
    height: 10vh;
   border-bottom:2px whitesmoke solid;
    position: absolute;

    
}
.sec1_player_img{
    width: 33%;
    height: 100%;
    float: left;
}
.sec1_player_img img{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.sec1_player_detail{
    width: 67%;
    height: 100%;
   border-left:2px whitesmoke solid;
    float: left;

}
.sec1_player_id{
    border-bottom: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    /* padding: 10% 2%; */
    height: 50%;
    padding: 5% 5%;
}
.sec1_player_dollar{
    font-size: 20px;
    color: #fff;
    padding: 5% 5%;

}
.sec1_footer{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1_footer_help{
    padding: 10px;
    padding-right: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    text-align: right;
   background-color: rgba(44, 3, 82, 0.205);
   border-radius: 10px;
   box-shadow:6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
   /* line-height: 92px; */
}
.sec1_footer_help:hover{
   background-color: rgba(85, 42, 128, 0.411);
}
.sec1_footer_help a{
    /* margin: auto; */
    margin: 0;
    font-family: 'Microsoft Jhenghei';
    font-size: 20px;
    /* vertical-align:  -25px; */
    height: 100%;
    width: 100%;
   padding: 20%;
   position: relative;
   display: inline-block;
    overflow: hidden;
}

.sec1_footer_help a img{
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 25%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  /* margin-left: 5px; */
  /* -webkit-box-reflect: below 1px -webkit-gradient(linear, 0% 100%,100% 100%, from(rgba(255,255,255,0)), to(white)); */
    /* box-reflect: below 1px -webkit-gradient(linear, 0% 100%,100% 100%, from(rgba(255,255,255,0)), to(white)); */

}
.sec1_footer_record{
    padding: 10px;
    padding-right: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: rgba(44, 3, 82, 0.205);
    box-shadow:6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
    border-radius: 10px;
}
.sec1_footer_record:hover{
    background-color: rgba(85, 42, 128, 0.411);
}
.sec1_footer_record a{
    font-family: 'Microsoft Jhenghei';
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 20%;
    /* background-color: #999; */
   position: relative;
    display: inline-block;
    overflow: hidden;
}
.sec1_footer_record a img{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 85%;
    height: 85%;
    transform: translate(-50%, -50%);
    /* margin-left: 5px; */
}
.sec2{
    flex:1 1;
    order:2;
   border:2px whitesmoke solid;
    background-color: transparent;
    position: relative;

}
.sec2_content{
    padding-top: 5%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec2_girl{
    margin-right: 5%;
    position: relative;
    bottom: -5%;
    transition: transform .3s;
}
.sec2_girl:hover{
    transform: scale(1.03);
}
.sec2_rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -5%;
    position: relative;
    left: -5%;
    bottom: -5%;
}
.sec2_rooms:last-child{
    margin-bottom: 0;

}
.sec2_rooms_entrance{
    position: relative;
    margin-bottom: 15%;
    box-shadow:5px 10px 18px rgba(0, 0, 0, 0.8);
    
}

.sec2_rooms_entrance img{
    border-radius: 7px;
    transition: all .1s;

}
.sec2_rooms_entrance img:hover{
    transform: scale(1.1);    
}
.sec2_rooms_entrance:before{
    content: "";
    border-radius: 7px;
    transition: all .1s;
    z-index: 3;
}

.sec2_rooms_entrance:hover:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(256,256,256,.16);
    /* transform: scale(1.1); */


}
.sec2_rooms_entrance:active:before{
    background-color:rgba(20,20,20,.24);
    transition: all 0s;

}

.sec2_rooms_entrance:active{
    bottom: -1px;
    right: -1px;
    box-shadow:5px 10px 8px rgba(0, 0, 0, 0.8);
    
}

.sec2_back{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 80px;
    background-color: brown;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
    transition: all .3s;
    z-index: 2;
    border-radius: 50% 50% 50% 9%/50% 0% 17% 9%; 
    -webkit-border-radius: 50% 50% 50% 9%/50% 0% 17% 9%; 
    -moz-border-radius: 50% 50% 50% 9%/50% 0% 17% 9%;
}

.sec2_back img{
    position: relative;
    top: -5px;
    width: 100%;
    height: 100%;
    display: inline-block;
  

}

.sec2_back:hover{
    background-color:transparent;
}